<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Yet Another To-Do List</title>
    <script src="index.js" type="module"></script>
  </head>
  <body>
    <div id="app">
      <ma-data src="local:tasks" v-model="tasks" autosave></ma-data>
      <h1>{{ count(get(tasks, "done")) }} done of {{ tasks.length }} total</h1>
      <button @click="addItem()">Add item</button>
      <button @click="clearCompleted()">Clear completed</button>
      <ul>
        <li v-for="(task, i) in tasks">
          <input type="checkbox" v-model="task.done" aria-label="Done?" />
          <input
            type="text"
            aria-label="Task"
            v-model="task.title"
            class="text-input"
            @keyup.enter="addItem(i)"
            v-focus="task.active"
            @keydown.backspace="deleteItemIfEmpty(i)"
            @keydown.up="setActive(i-1)"
            @keydown.down="setActive(i+1)"
          />
          <button class="deleteButton" @click="deleteItem(i)">X</button>
        </li>
      </ul>
    </div>
  </body>
</html>
